/*  1. Normalize default browser css settings */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans',sans-serif;
  color: #777;
  padding: 3rem;
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    opacity: 1;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    opacity: 1;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.heading {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  backface-visibility: hidden;
  text-align: center;
}

.heading__text-name {
  display: block;
  letter-spacing: 1.5rem;
  font-weight: 400;
  font-size: 5rem;
  text-transform: uppercase;
  animation: moveFromLeft 1s ease-out;
}

.heading__text-role {
  display: block;
  letter-spacing: 1rem;
  font-weight: 700;
  animation: moveFromRight 1s ease-out;
  margin-bottom: 10rem;
}

.section-grid {
  font-size: 1.5rem;
}

.heading {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  backface-visibility: hidden;
  text-align: center;
}

.heading__text-name {
  display: block;
  letter-spacing: 1.5rem;
  font-weight: 400;
  font-size: 5rem;
  text-transform: uppercase;
  animation: moveFromLeft 1s ease-out;
}

.heading__text-role {
  display: block;
  letter-spacing: 1rem;
  font-weight: 700;
  animation: moveFromRight 1s ease-out;
  margin-bottom: 10rem;
}

.section-grid {
  font-size: 1.5rem;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  color: #777;
  position: relative;
  transition: all .2s;
}

.btn:active {
  transform: translateY(-0.5rem);
  box-shadow: 12px 12px 2px 1px rgba(131, 164, 212, 0.52);
}

.btn::after {
  content: "";
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  color: #777;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .2s;
  z-index: -1;
}

.btn:hover::after {
  transform: scale(1.5);
  opacity: 0;
}

.btn-white {
  background-color: white;
  color: #777;
}

.btn-white::after {
  background-color: white;
}

.btn-animated {
  animation-name: moveFromBottom;
  animation-duration: .5s;
  animation-timing-function: ease-in;
}

.header {
  position: relative;
  background-position: top;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(131, 164, 212, 0.52), rgba(182, 251, 255, 0.73)), url("../images/environment.jpg");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
}

.row {
  max-width: 114rem;
  width: 100%;
  margin: 0 auto;
  background-color: #eee;
  content: "";
  display: table;
  clear: both;
}

.row:not(:last-child) {
  margin-bottom: 6rem;
}

.row [class^="col-"] {
  background-color: #9ce6e8;
  float: left;
  padding: 20px 20px;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 8rem;
}

.row .col-1-of-2 {
  width: calc((100% - 8rem)/2);
}

.row .col-1-of-3 {
  width: calc((100% - 2*8rem)/3);
}

.row .col-2-of-3 {
  width: calc((2*100% - 8rem)/3);
}

.row .col-1-of-4 {
  width: calc((100% - 3*8rem)/4);
}

.row .col-2-of-4 {
  width: calc((2*100% - 2*8rem)/4);
}

.row .col-3-of-4 {
  width: calc((3*100% - 8rem)/4);
}
